<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vueDemo</title>
</head>
<body>
    <div id="app">
        <input type="text" id="inputData" v-model="testText" style="margin-right: 20px">
        {{testText}}
        <select v-model="options" style="margin: 20px;">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        {{options}}
        <br/>
        <hr/>
        <div>这是测试额外字符的 {{options}}</div>
        <br/>
        {{one.three.fourth}}
    </div>
    <script src="./cors/watcher.js"></script>
    <script src="./cors/compile.js"></script>
    <script src="./cors/observer.js"></script>
    <script>
        function Vue (options) {
            this.el = options.el
            this.data = options.data
            observer(this.data, this)
            let fragment = new Compile(document.getElementById(this.el), this)
            document.getElementById(this.el).appendChild(fragment)
        }
        new Vue({
            el: 'app',
            data: {
                testText: 'this is a simple mvvm frame',
                options: 3,
                one: {
                    two: 'test',
                    three: {
                        fourth: 'haha'
                    }
                }
            }
        })
    </script>
</body>
</html>